*{padding:0;margin:0}
div{float:Left;}
.u-1{width:168px;height:87px;background:url(../slice/123_r1_c1.png) no-repeat}
.u-2{width:168px;height:87px;background:url(../slice/123_r1_c2.png) no-repeat}
.u-3{width:168px;height:87px;background:url(../slice/123_r1_c4.png) no-repeat}
.u-4{width:168px;height:87px;background:url(../slice/123_r1_c5.png) no-repeat}
.u-5{width:168px;height:87px;background:url(../slice/123_r1_c8.png) no-repeat}
.u-6{width:168px;height:87px;background:url(../slice/123_r1_c9.png) no-repeat}
.u-7{width:168px;height:87px;background:url(../slice/123_r1_c11.png) no-repeat}
.u-8{width:168px;height:87px;background:url(../slice/123_r1_c14.png) no-repeat}
.u-9{width:168px;height:87px;background:url(../slice/123_r1_c15.png) no-repeat}
.u-10{width:168px;height:87px;background:url(../slice/123_r1_c17.png) no-repeat}
.u-11{width:168px;height:87px;background:url(../slice/123_r2_c1.png) no-repeat}
.u-12{width:168px;height:87px;background:url(../slice/123_r2_c4.png) no-repeat}
.u-13{width:168px;height:87px;background:url(../slice/123_r2_c5.png) no-repeat}
.u-14{width:168px;height:87px;background:url(../slice/123_r2_c8.png) no-repeat}
